# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (no se sube este archivo por seguridad)
.env

# Logs
logs
*.log

# Datos de la base de datos local
*.sqlite
*.db

# Archivos de sistema de tu computadora
.DS_Store
Thumbs.db